Detection/detectron2/**
Detection/PRIVATE.md
Detection/Flick/**
Detection/Flick47/**

Detection/.vscode
Detection/scitas/**
Detection/output/**
Detection/Flicker1Class/**
Detection/Flicker32Classes/**
Detection/Flicker1Class47/**
Detection/FlickrLogos-v2

!Detection/Flicker1Class47/*.py
!Detection/Flicker1Class/*.py
!Detection/Flicker32Classes/*.py
## Classificatiion

# Byte-compiled / optimized / DLL files
Classification/few-shot/__pycache__/
Classification/few-shot/*.py[cod]
Classification/few-shot/*$py.class
# C extensions
Classification/few-shot/*.so
# Distribution / packaging
Classification/few-shot/.Python
Classification/few-shot/build/
Classification/few-shot/develop-eggs/
Classification/few-shot/dist/
Classification/few-shot/downloads/
Classification/few-shot/eggs/
Classification/few-shot/.eggs/
Classification/few-shot/lib/
Classification/few-shot/lib64/
Classification/few-shot/parts/
Classification/few-shot/sdist/
Classification/few-shot/var/
Classification/few-shot/wheels/
Classification/few-shot/*.egg-info/
Classification/few-shot/.installed.cfg
Classification/few-shot/*.egg
Classification/few-shot/MANIFEST
\Classification/few-shot/data/**
\Classification/few-shot/*.manifest
Classification/few-shot/*.spec
\Classification/few-shot/pip-log.txt
Classification/few-shot/pip-delete-this-directory.txt
Classification/few-shot/htmlcov/
Classification/few-shot/.tox/
Classification/few-shot/.coverage
Classification/few-shot/.coverage.*
Classification/few-shot/.cache
Classification/few-shot/nosetests.xml
Classification/few-shot/coverage.xml
Classification/few-shot/*.cover
Classification/few-shot/.hypothesis/
Classification/few-shot/.pytest_cache/
Classification/few-shot/*.mo
Classification/few-shot/*.pot
Classification/few-shot/*.log
Classification/few-shot/local_settings.py
Classification/few-shot/db.sqlite3
Classification/few-shot/instance/
Classification/few-shot/.webassets-cache
Classification/few-shot/.scrapy
Classification/few-shot/docs/_build/
Classification/few-shot/target/
Classification/few-shot/.ipynb_checkpoints
Classification/few-shot/.python-version
Classification/few-shot/celerybeat-schedule
Classification/few-shot/*.sage.py
Classification/few-shot/.env
Classification/few-shot/.venv
Classification/few-shot/env/
Classification/few-shot/venv/
Classification/few-shot/ENV/
Classification/few-shot/env.bak/
Classification/few-shot/venv.bak/
Classification/few-shot/.spyderproject
Classification/few-shot/.spyproject
Classification/few-shot/.ropeproject
Classification/few-shot//site
Classification/few-shot/.mypy_cache/
Classification/few-shot/.idea/
Classification/few-shot/logs/logs-ssh/matching_nets/miniImageNet_n=1_k=5_q=15_nv=5_kv=5_qv=1_dist=l2_fce=False_lr=0.5e-3.csv
Classification/few-shot/logs/logs-ssh/matching_nets/miniImageNet_n=1_k=5_q=15_nv=5_kv=5_qv=1_dist=l2_fce=False_lr=1.5e-3.csv
Classification/few-shot/logs/logs-ssh/proto_nets/miniImageNet_nt=5_kt=60_qt=5_nv=5_kv=20_qv=1.csv
Classification/few-shot/logs/matching_nets/miniImageNet_n=1_k=5_q=15_nv=1_kv=5_qv=1_dist=l2_fce=False.csv
Classification/few-shot/models/proto_nets/proto_nets/miniImageNet_nt=5_kt=60_qt=5_nv=5_kv=20_qv=1.pth
Classification/few-shot/models/proto_nets/proto_nets/omniglot_nt=1_kt=60_qt=5_nv=5_kv=5_qv=1.pth
Classification/few-shot/
